*{
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body{
    background: #64002a;
}

nav ul{
    list-style-type: none;
}

/* This adds margin on the left and right of each li tag. I also decreased the size of your links to give more weight to your name */
nav ul li {
    display: inline;
    font-family: 'Over the Rainbow', cursive;
    font-size: 40px;
    margin: 0 20px;
}

a:link {
    text-decoration: none;
    z-index: 100;
    color: white;
}

a:visited {
    color: white;
}

a:active {
    color:gray;
}

.sharolayn{
    padding: 5px 20px 15px 7px;
    font-size: 80px;
}

a:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

.body{
    position: relative;
    background-size: contain;
    background-attachment: fixed;
    z-index: 0;
}

/*This will make it where the image will move up 10px whenever user hovers over it */
.red img,
.black img,
.green img{
    position: relative;
    transition: 1s;
}

.red:hover img,
.green:hover img {
    transform: translateY(-10px);
    transition: 1s;
}

.black:hover img {
    transform: translateY(10px);
    transition: 1s;
}

/* Aligns all three colors in the same row and centers them on the home page */
main.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* This is the container for your about page so your content is in the middle of the page */
main.container {
    margin: 0 auto;
    max-width: 80%;
    color: white;
}


/* This gives color the position of relative. This means that it act as the container that will hold the link to the other pages. */
.color {
    position: relative;
    max-width: 263px;
    display: inline-block;
    text-align: center;
    margin: 0 10%;
}

/* This is giving the link a position of absolute so we can place it on top of the image. I'm using display flex and other properties to make sure that it is centered aligned on the color*/
.color a {
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Over the Rainbow', cursive;
    font-size: 60px;
    text-align: center;
    line-height: 120%;
}

.black.color a {
    margin-bottom: 130px;
}

.black.color {
    bottom: 190px;
}

.red.color {
    left: -10px;
}

.green.color {
    right: -10px;
}

footer{
    text-align: center;
    color: white;
    background: black;
    padding: 10px 0;
    font-family: sans-serif;
}

footer a{
    color: white;
    font-size: 25px;
    margin: 0 5px;
    transition: .3s;
}

footer a:hover{
    color: gray;
    transition: .3s;
}

/*===========================
Create Page
===========================*/
.reds.colors {
    bottom: -14px;
    right: -1000px;
}

.greens.colors {
    bottom: -116px;
    right: 74px;
}

.blacks.colors {
    bottom: -264px;
    right: -149px;
}

.colors {
    position: relative;
    max-width: 263px;
    display: inline-block;
    text-align: center;
    margin: 0 10%;
}

.colors a {
    position: absolute; 
    top: 0;
    left: 230px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Over the Rainbow', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 120%;
}

.blacks.colors a {
    position: absolute; 
    top: 0;
    left: 460px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Over the Rainbow', cursive;
    font-size: 60px;
    text-align: center;
    line-height: 120%;
}


/*=====Images=====*/

.portiko2{
    position: absolute;
    left: 4%;
    top: 25%;
}

.mid1{
    position: absolute;
    left: 350px;
    top: 25%;
}

.psych1{
    position: absolute;
    left: 350px;
    bottom: 9%;
}

.psych2{
    position: absolute;
    left: 55px;
    bottom: 101px;
}

section.gallery img{
    width: 295px;
}

.lb-data .lb-caption {
    font-size: 35px;
    font-weight: bold;
    line-height: 1em;
    font-family: 'Over the Rainbow', cursive;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
    margin-top: 10px;
}

/*===========================
About Page
===========================*/
.redm.colorm {
    bottom: -262px;
    right: -684px;
}

.greenm.colorm {
    bottom: -11px;
    right: 81px;
}

.blackm.colorm {
    bottom: -113px;
    right: -455px;
}

.colorm {
    position: relative;
    max-width: 263px;
    display: inline-block;
    text-align: center;
    margin: 0 10%;
}

.colorm a {
    position: absolute; 
    top: 0;
    left: 230px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Over the Rainbow', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 120%;
}

.redm.colorm a {
    position: absolute; 
    top: 0;
    left: 460px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Over the Rainbow', cursive;
    font-size: 60px;
    text-align: center;
    line-height: 120%;
}

.aboutme {
    position: absolute;
    max-width: 400px;
    top: 165px;
    left: 80px;
    font-size: 20px;
    background: #C43737;
    border-radius: 10px;
    padding: 5px 10px 5px 15px;
    text-shadow: 0px 0px black;
}

img.mepic {
    max-width: 300px;
    position: absolute;
    left: 554px;
    top: 165px;
    border-radius: 10px;
}

details > summary {
    position: absolute;
    padding: 4px;
    width: 200px;
    background-color: white;
    border: none;
    box-shadow: 1px 1px 2px #bbbbbb;
    cursor: pointer;
    left: 554px;
    top: 390px;
    font-family: sans-serif;
    font-size: 12px;
    max-width: 85px;
    border-radius: 10px;
}
  
details > p {
    position: absolute;
    background-color: white;
    padding: 4px;
    margin: 0;
    box-shadow: 1px 1px 2px #bbbbbb;
    left: 568px;
    top: 390px;
    font-family: sans-serif;
    font-size: 12px;
    max-width: 210px;
    border-radius: 10px;
  }

/*===========================
Analyze Page
===========================*/

.redl.colorl {
    bottom: -114px;
    right: -997px;
}

.blackl.colorl {
    bottom: -11px;
    right: -457px;
}

.greenl.colorl {
    bottom: -263px;
    right: 386px;
}

.colorl {
    position: relative;
    max-width: 263px;
    display: inline-block;
    text-align: center;
    margin: 0 10%;
}

.colorl a {
    position: absolute; 
    top: 0;
    left: 230px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Over the Rainbow', cursive;
    font-size: 50px;
    text-align: center;
    line-height: 120%;
}

.greenl.colorl a {
    position: absolute; 
    top: 0;
    left: 460px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Over the Rainbow', cursive;
    font-size: 60px;
    text-align: center;
    line-height: 120%;
}

/*===========================
Contact Form
===========================*/

.contact-form {
    background: #42664e; 
    padding: 20px;
    max-width: 900px;
    border-radius: 8px;
    color: white;
    font-family: sans-serif;
    margin: 0 auto;
    text-align: left;
}

.container-form{
    max-width: 900px;
    position: absolute;
    left: 100px;
    top: 130px;
}

.label_input_wrap {
    display: inline;
}

h1{
    font-family: 'Over the Rainbow', cursive;
    font-size: 35px;
}

.reset input,
.submit input {
    color: white;
    padding: 5px 20px;
}

.reset,
.submit{
    display: inline;
}

.input-section{
    margin-bottom: 8px;
}

.submit input{
    background: #c43737;
}

.reset input{
    background: gray;
}

input{
    padding: 5px 8px;
    border-radius: 3px;
}

textarea{
    font-family: sans-serif;
    padding: 6px 6px;
    border-radius: 4px;
}

select{
    width: 185px;
    padding: 8px 0;
    border-radius: 4px; 
}

.com{
    display: block;
}

.in{
    color: black;
}











@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }